@media (max-width: 425px){
    .card{
        margin: 0;
        max-width: 100%;
        border-radius: 0;
        padding: 0;
    }

    .card .conteudo{
        padding: 15px 32px;
    }

    .rodape{
        font-size: 14px;
        padding: 10px 0;
    }
}

@media (max-width: 375px){
    .rodape{
        font-size: 13px;
    }
}