body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background: linear-gradient(to right, yellow, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}